
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../static/img/favicon.ico"
	th:href="@{/img/favicon.ico}">

<title>PureSoft</title>

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/agent.css"
	th:href="@{/css/agent.css}" />
<script src="../static/js/bootstrap.min.js"
	th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/agent.js}"></script>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<img
				src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
				alt="" width="40" height="40">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarCollapse" aria-controls="navbarCollapse"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
					</a></li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/logout">Sign
							Out</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<!-- Begin page content -->
	<main role="main" class="container">
		<h1 class="my-5">Ticket Details</h1>

		<div id="successAlert" class="alert alert-success mb-5 d-none"
			role="alert">Ticket status updated successfully.</div>
		<div id="failureAlert" class="alert alert-danger mb-5 d-none"
			role="alert">Failed to update ticket status!</div>
		<div id="noResultAlert" class="alert alert-primary mb-5 d-none"
			role="alert">No Tickets Available.</div>
		<div id="notificationAlert" class="alert alert-primary mb-5 d-none"
			role="alert"><p>Notifications</p></div>
		<div class="d-flex justify-content-center" id="loadingSpinner">
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		
		<div class="table-responsive d-none" id="ticketDetailsTable">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>#</th>
						<th>Details</th>
						<th>Customer</th>
						<th>Created On</th>
						<th>Ticket Status</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody id="ticketDetailsTableBody">
					
				</tbody>
			</table>
		</div>
		<input type="hidden" id="ticketServiceUri" th:value="${serviceUri}" />
		<input type="hidden" id="notificationServiceUri" th:value="${notificationServiceUri}" />
		<input type="hidden" id="loggedInAgentName" th:value="${agentName}" />
		<input type="hidden" id="refreshTimestamp" th:value="${refreshTimestamp}" />
	</main>

	<footer class="footer">
		<div class="container">
			<span class="text-muted">&copy; 2021</span>
		</div>
	</footer>



</body>
</html>
